In [2]:
import pandas as pd
import numpy as np 
import csv

In [2]:
ref_1=pd.read_csv('/data2/yixuan/cfDNA/CelFEER/data/WGBS_ref1.bed',sep='\t')
ref_2=pd.read_csv('/data2/yixuan/cfDNA/CelFEER/data/WGBS_ref2.bed',sep='\t')

In [4]:
ref_2=pd.read_csv('/data2/yixuan/cfDNA/CelFEER/scripts/data_processing/temp/ref_2.bed',sep='\t')
ref_2

,chr1,0,499,0.0,0.0.1,0.0.2,0.0.3,0.0.4,0.0.5,0.0.6,...,0.0.40,0.0.41,0.0.42,0.0.43,0.0.44,0.0.45,0.0.46,0.0.47,0.0.48,0.0.49
0,chr1,500,999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,chr1,1000,1499,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,chr1,1500,1999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,chr1,2000,2499,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,chr1,2500,2999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5447297,chr22,50816000,50816499,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5447298,chr22,50816500,50816999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5447299,chr22,50817000,50817499,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5447300,chr22,50817500,50817999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5447301,chr22,50818000,50818499,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
marker_1=pd.read_csv('/data2/yixuan/cfDNA/CelFEER/data/WGBS_ref1_1000markers.bed',sep='\t')
marker_2=pd.read_csv('/data2/yixuan/cfDNA/CelFEER/data/WGBS_ref2_1000markers.bed',sep='\t')

In [4]:
ref_2

,chrom,start,end,3,4,5,6,7,3.1,4.1,...,3.8,4.8,5.8,6.8,7.8,3.9,4.9,5.9,6.9,7.9
0,chr1,0,499,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,chr1,500,999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,chr1,1000,1499,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,chr1,1500,1999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,chr1,2000,2499,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5447298,chr22,50816000,50816499,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5447299,chr22,50816500,50816999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5447300,chr22,50817000,50817499,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5447301,chr22,50817500,50817999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5447302,chr22,50818000,50818499,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
marker_2.head()

  chrom     start       end  tissue number  difference  tissue methylation
0  chr1   4441000   4441499              0    0.396243            0.442029
1  chr1  12499500  12499999              0    0.366936            0.588235
2  chr1   3560000   3560499              0    0.366619            0.423611
3  chr1   8294000   8294499              0    0.340097            0.482673
4  chr1   6287500   6287999              0    0.334532            0.480769

In [18]:
intersection_1 = pd.merge(ref_1, marker_2, on=['chrom', 'start', 'end']).drop(columns=['tissue number','difference','tissue methylation'])
intersection_2 = pd.merge(ref_2, marker_2, on=['chrom', 'start', 'end']).drop(columns=['tissue number','difference','tissue methylation'])

In [19]:
intersection_2

,chrom,start,end,3,4,5,6,7,3.1,4.1,...,3.8,4.8,5.8,6.8,7.8,3.9,4.9,5.9,6.9,7.9
0,chr1,185500,185999,0.0,0.0,1.0,13.0,16.0,16.0,3.0,...,0.0,4.0,7.0,39.0,132.0,0.0,0.0,1.0,13.0,32.0
1,chr1,600500,600999,4.0,5.0,0.0,10.0,8.0,3.0,14.0,...,0.0,6.0,0.0,6.0,15.0,5.0,13.0,0.0,9.0,10.0
2,chr1,629000,629499,7.0,0.0,0.0,12.0,32.0,38.0,1.0,...,8.0,0.0,0.0,4.0,23.0,26.0,0.0,0.0,9.0,29.0
3,chr1,633000,633499,10.0,1.0,1.0,35.0,39.0,48.0,3.0,...,12.0,6.0,4.0,100.0,100.0,28.0,1.0,5.0,49.0,54.0
4,chr1,778000,778499,17.0,0.0,2.0,5.0,2.0,16.0,0.0,...,16.0,2.0,7.0,19.0,18.0,30.0,9.0,5.0,16.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2197,chr1,21980000,21980499,0.0,1.0,2.0,9.0,25.0,0.0,0.0,...,0.0,2.0,8.0,27.0,53.0,0.0,2.0,3.0,25.0,31.0
2198,chr1,21981500,21981999,0.0,0.0,1.0,15.0,22.0,1.0,2.0,...,0.0,2.0,4.0,58.0,53.0,0.0,1.0,2.0,27.0,45.0
2199,chr1,21982500,21982999,0.0,3.0,2.0,13.0,14.0,0.0,4.0,...,0.0,16.0,3.0,44.0,42.0,0.0,13.0,5.0,24.0,26.0
2200,chr1,21993000,21993499,0.0,1.0,1.0,7.0,52.0,2.0,5.0,...,0.0,1.0,0.0,7.0,47.0,0.0,0.0,0.0,11.0,67.0
2201,chr1,21994500,21994999,2.0,4.0,2.0,18.0,21.0,0.0,7.0,...,0.0,7.0,2.0,48.0,52.0,1.0,7.0,5.0,23.0,43.0

In [20]:
inter_121=pd.concat([intersection_1,intersection_2],axis=1)
inter_121.to_csv('/data2/yixuan/cfDNA/CelFEER/data/WGBS_ref1_inter122.txt',sep='\t',index=False)

In [21]:
inter_211=pd.concat([intersection_2,intersection_1],axis=1)
inter_211.to_csv('/data2/yixuan/cfDNA/CelFEER/data/WGBS_ref1_inter212.txt',sep='\t',index=False)